// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	margin: 0;
	background-color: #EFEFEF;
}

#application-name {
	text-align: center;
	font-size: 48px;
	letter-spacing: -7px;
}
#application-name a {
	text-decoration: none;
	color: #DD7722;
	background-color: #000;
}

h1 {
	text-align: center;
	color: #FF9944;
	font-size: 28px;
}

header {
	background-color: #229922;
	padding: 10px 30px;
}

main {
	padding: 10px 80px;
}

ul {
	width: 100%;
	display: table;
	text-align: center;
	padding: 0;
}

ul li {
	display: inline-block;
	float: none;
	padding: 0 20px;
}

ul li a {
	font-size: 18px;
	color: #333333 !important;
	text-decoration: none;
}

ul li a:hover {
	color: #DD7722 !important;
	background-color: #229922 !important;
}

table {
	margin: 0 auto;
}

table a {
	color: #FF9944 !important;
	padding: 6px 12px;
}

table a:hover {
	color: #CC6611 !important;
	background-color: #EFEFEF;
}

main {
	background-color: #F7F7F7;
}

main > a {
	background-color: #FF9944;
	padding: 6px 12px;
	color: #FFFFFF !important;
	text-decoration: none;
	text-align: center;
	margin: 0 auto;
}

main > a:hover {
	background-color: #DD7722;
	color: #FFFFFF !important;
}

#login-div {
	width: 100%;
	padding: 20px 0;
	display: table;
	text-align: center;
}

#login-div a {
	text-decoration: none;
	background-color: #229922;
	color: #FFFFFF;
	padding: 10px 20px;
	font-size: 20px;
	display: inline-block;
	float: none;
}

#login-div a:hover {
	background-color: #33AA33;
}